.image {
    position: relative;
    left: 45%;
    text-align: center;
    max-width: fit-content;  
    
}

@keyframes blink {
    50% {
        opacity: 0;
    }

    80%{
        opacity: .5
    }

}
h1 {
    animation: blink 2s linear infinite;
    color: red;
}
.image img{
    height: 150px;
}

.map{
    position: absolute;
    left: -10em;
    
    
}

